html, body {
    height: 100%;
    background-image: url("../back1.jpg");
}
.btn-primary{
    background-color: #056355 !important;
}
.btn-secondary{
    background-color: #056355 !important;
    height: 45%;
    width: 75%;
}
.btn-custom{
    background-color: #81e6c4 !important;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);

}   
.display-3 {
    color: #050b63;
}

.card-title {
    color: #050b63;
    font-display: 50px;
}

.card-text {
    color: #050b63;
}

#nonefound{
    width: 50%;
}

.time {
    color: #050b63;
}

#calendarcard {
    max-width: 55rem; 
    padding: 1%;
}

#logcard {
    max-width: 75rem;
}